<div>
    <a asp-controller="Students" asp-action="Index">Students</a>
</div>

<hr/>

<div>
    <a asp-controller="Demo" asp-action="DynaTablePlain">DynaTablePlain</a>
</div>

<div>
    <a asp-controller="Demo" asp-action="DynaTableAjax">DynaTableAjax</a>
</div>