<div>
    <a asp-controller="Students" asp-action="Index">Students</a>
    <br/>
    <small>use datatables js</small>
</div>


<hr/>

<div>
    <a asp-controller="Demo" asp-action="DynaTablePlain">DynaTablePlain</a>
    <br/>
    <small>use dynatable js</small>
</div>
<br/>
<div>
    <a asp-controller="Demo" asp-action="DynaTableAjax">DynaTableAjax</a>
    <br/>
    <small>use dynatable js ajax version</small>
</div>